<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{328,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,488}}</string>
                <key>sourceSize</key>
                <string>{328,488}</string>
            </dict>
            <key>bird1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,0},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>bird2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,0},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>bird3.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,0},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>land.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,0},{358,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,120}}</string>
                <key>sourceSize</key>
                <string>{358,120}</string>
            </dict>
            <key>pipe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,488},{60,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,328}}</string>
                <key>sourceSize</key>
                <string>{60,328}</string>
            </dict>
            <key>pipe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,488},{60,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,328}}</string>
                <key>sourceSize</key>
                <string>{60,328}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flappy.png</string>
            <key>size</key>
            <string>{816,816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:309081a8a5c6a64eac70b80061e8c031:7fe2cc7b68dac8022912301d7eadf66e:98da1ea320b24740dddab6c1e48b9381$</string>
            <key>textureFileName</key>
            <string>flappy.png</string>
        </dict>
    </dict>
</plist>
